<solr persistent="true">
 <cores adminPath="/admin/cores">
   <core name="{{ project_name }}-search" instanceDir="{{ project_name }}-search" dataDir="/var/local/solr/{{ project_name }}-search/data" />
 </cores>
</solr>
